<h1> Product CATEGORIES </h1>

<table>
  <% @categories.each do |c| %>
  <tr>
  	<td>
  	<%= c.id %>&nbsp;&nbsp;
  	</td>
  	<td>
  	<%= link_to c.name, category_path(c) %>
    </td>
  </tr>
  <% end %>

</table>