<h1> THIS PRODUCT </h1>
<h3><%= link_to "Edit", edit_product_path%> </h3>

<div>

  <%= render partial: "show1"%>

</div>

<div>
  <p>CATEGORIES</p>
  <ul>
  <% @categories.each do |cat| %>
    <li>
    	<%= link_to cat.name, category_path(cat) %>
    </li>
  <% end %>
  </ul>
</div>

<div>







</div>