<h1> THIS PRODUCT </h1>

<div>

  <%= render partial: "show1"%>

</div>

<div>
  <p>CATEGORIES</p>
  <ul>
  <% @categories.each do |cat| %>
    <li>
    	<%= cat.name %>
    </li>
  <% end %>
  </ul>
</div>

<div>







</div>